<!DOCTYPE html>
<html>
    <head>
        <title>Admin Panel</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class=panel_options>
            <a href="/add_post"><p class=panel_option>Add Post</p></a><br>
            <a href="/delete_post"><p class=panel_option>Delete Post</p></a><br>
            <a href="/add_project"><p class=panel_option>Add Project</p></a><br>
            <a href="/delete_project"><p class=panel_option>Delete Project</p></a><br>
        </div>
    </body>
</html>
