<!DOCTYPE html>
<html>
    <head>
        <title>Blog Posts</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
<body>
    {% import 'includes/nav.html' as nav %}
    {{ nav }}
    <div id=posts>
        {% for post in posts %}
        <a class=post_link href="{{ url_for('post', id=post.id) }}">
            <div class=post_preview>
                <h2>
                    {{ post.title }}
                </h2>
                <p>
                    {{ post.content | truncate(350, end='...(Read more)') }}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>
</body>
</html>

