<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
<body>
    {% import 'includes/nav.html' as nav %}
    {{ nav }}

    <div class=intro>
    <p>Welcome to my personal website. I'm M. Emre Yagci, a Computer Engineering student majoring in Security, who is about to graduate. I will be sharing some blog posts and my projects here. This website is written in Flask, whose source code can be found <a href="https://github.com/memreyagci/personal_website">here</a>.</p>

    <p>You can contact me via the methods mentioned in <a href=/contact>Contact page</a></p>

    <p>To take a look at my projects, you can visit <a href="https://github.com/memreyagci">my GitHub page</a>.</p>
    </div>
</body>
</html>
