<!DOCTYPE html>
<html>
    <head>
        <title>{{ post.title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
<body>
    {% import 'includes/nav.html' as nav %}
    {{ nav }}

    <div class"post">
            <h2>
                {{ post.title }}
            </h2>
            <p>
                {{ post.content }}
            </p>
    </div>
</body>
</html>

