* {
    background-color: rgb(28, 28, 28);
}

p, h2 {
    color: white;
}

.post {
    border-color:white;
    border-style: double;
    padding: 10px;
    margin: 3% 20%;
}

.post:hover{
    border-color: green;
}

.post_link {
    text-decoration: none;
}
