* {
    background-color: rgb(28, 28, 28);
}

p, h1, h2 {
    color: white;
}

.post_preview {
    border-color:white;
    border-style: double;
    padding: 0px 20px;
    margin: 2% 20%;
}

.post_preview:hover{
    border-color: green;
}

.post_link, .post_link:visited {
    text-decoration: none;
}

.post {
    padding: 15px;
    margin: 0% 20%;
}
