#nav {
    list-style-type: none;
    overflow: hidden;
    /*float: right;*/
    /*text-align: right;*/
    background-color: #333;
    margin: 0;
    padding: 0;
}

#nav > li {
    /*display: inline;*/
    float: right;
}

#nav > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
